.heroBanner {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
}

.heroContainer {
  display : inline-flex;
  justify-content: space-between;
  padding: 0 8rem;
}

.heroLogo {
  height:160px;
  margin-left: 20px;
}

.buttons {
  margin-top: 20px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

